$light-background:rgb(255, 255, 255);
$rich-color:rgb(202, 112, 202);
$more-rich-color:rgb(201, 76, 201);
$light-color:#c4ffec;
$more-light-color:#96fada;

$fs:16px;
$ff:'Lora', serif;

$header-height:12vh;